absl_py==1.4.0
accelerate==0.27.2
Bio==1.6.2
biopython==1.83
einops==0.7.0
einops_exts==0.0.4
ema_pytorch==0.4.2
fsspec==2024.2.0
jax==0.4.25
kornia==0.7.1
ml_collections==0.1.1
numpy==1.26.4
packaging==23.2
pandas==2.2.1
Pillow==10.2.0
py3Dmol==2.0.4
pycocotools==2.0.7
pytorch_warmup==0.1.1
sacrebleu==2.4.0
scikit_learn==1.0.2
seaborn==0.13.2
simclr==1.0.2
six==1.16.0
tensorflow==2.15.0.post1
tensorflow_addons==0.23.0
tensorflow_datasets==4.9.3
tensorflow_gan==2.1.0
tensorflow_text==2.15.0
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.2
